[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
	branch = master
[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
	branch = master
